# title

## Prompt

## Imports

In [ ]:
import pandas as pd

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
day = ""

In [ ]:
df = pd.read_csv(f"input_day{day}.txt", delim_whitespace=True,header=None)
df

         0      1
0    39472  15292
1    41795  28867
2    66901  41393
3    49097  61173
4    56143  52888
..     ...    ...
995  74914  19845
996  65918  67721
997  38226  56750
998  86853  74909
999  18560  15292

[1000 rows x 2 columns]

## Part 1

## Part 2