# Day 1: Historian Hysteria

## Prompt

The Chief Historian is always present for the big Christmas sleigh launch, but nobody has seen him in months! Last anyone heard, he was visiting locations that are historically significant to the North Pole; a group of Senior Historians has asked you to accompany them as they check the places they think he was most likely to visit.

As each location is checked, they will mark it on their list with a star. They figure the Chief Historian must be in one of the first fifty places they'll look, so in order to save Christmas, you need to help them get fifty stars on their list before Santa takes off on December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

You haven't even left yet and the group of Elvish Senior Historians has already hit a problem: their list of locations to check is currently empty. Eventually, someone decides that the best place to check first would be the Chief Historian's office.

Upon pouring into the office, everyone confirms that the Chief Historian is indeed nowhere to be found. Instead, the Elves discover an assortment of notes and lists of historically significant locations! This seems to be the planning the Chief Historian was doing before he left. Perhaps these notes can be used to determine which locations to search?

## Imports

In [7]:
import pandas as pd

In [2]:
day = "01"

In [3]:
df = pd.read_csv(f"input_day{day}.txt", delim_whitespace=True,header=None)
left_list = df[0].tolist()
right_list = df[1].tolist()
df

         0      1
0    31594  93577
1    46608  24099
2    78052  70524
3    52680  49933
4    92973  56887
..     ...    ...
995  72704  20997
996  78327  63698
997  62435  56887
998  84014  77208
999  51255  53718

[1000 rows x 2 columns]

## Part 1

Throughout the Chief's office, the historically significant locations are listed not by name but by a unique number called the location ID. To make sure they don't miss anything, The Historians split into two groups, each searching the office and trying to create their own complete list of location IDs.

There's just one problem: by holding the two lists up side by side (your puzzle input), it quickly becomes clear that the lists aren't very similar. Maybe you can help The Historians reconcile their lists?

In [4]:
left_sorted = sorted(left_list)
right_sorted = sorted(right_list)

In [5]:
total_distance = sum(abs(left - right) for left, right in zip(left_sorted, right_sorted))

print(f"Total distance: {total_distance}")

Total distance: 1320851

## Part 2

Your analysis only confirmed what everyone feared: the two lists of location IDs are indeed very different.

Or are they?

The Historians can't agree on which group made the mistakes or how to read most of the Chief's handwriting, but in the commotion you notice an interesting detail: a lot of location IDs appear in both lists! Maybe the other numbers aren't location IDs at all but rather misinterpreted handwriting.

This time, you'll need to figure out exactly how often each number from the left list appears in the right list. Calculate a total similarity score by adding up each number in the left list after multiplying it by the number of times that number appears in the right list.

Once again consider your left and right lists. What is their similarity score?

In [14]:
from collections import Counter

In [15]:
right_counts = Counter(right_list)

In [16]:
similarity_score = sum(num * right_counts[num] for num in left_list)

print(f"Similarity score: {similarity_score}")

Similarity score: 27732508