# Day 2: Red-Nosed Reports

## Prompt

Fortunately, the first location The Historians want to search isn't a long walk from the Chief Historian's office.

While the Red-Nosed Reindeer nuclear fusion/fission plant appears to contain no sign of the Chief Historian, the engineers there run up to you as soon as they see you. Apparently, they still talk about the time Rudolph was saved through molecular synthesis from a single electron.

They're quick to add that - since you're already here - they'd really appreciate your help analyzing some unusual data from the Red-Nosed reactor. You turn to check if The Historians are waiting for you, but they seem to have already divided into groups that are currently searching every corner of the facility. You offer to help with the unusual data.

The unusual data (your puzzle input) consists of many reports, one report per line. Each report is a list of numbers called levels that are separated by spaces. 

The engineers are trying to figure out which reports are safe. The Red-Nosed reactor safety systems can only tolerate levels that are either gradually increasing or gradually decreasing. So, a report only counts as safe if both of the following are true:

The levels are either all increasing or all decreasing.
Any two adjacent levels differ by at least one and at most three.

## Imports

In [1]:
import pandas as pd

In [2]:
day = "02"

In [3]:
with open("input_day02.txt", "r") as raw:
    lines = raw.readlines()

data = [list(map(int, line.split())) for line in lines]

df = pd.DataFrame(data)
df

      0   1   2   3   4     5     6     7
0     8  10  13  14  12   NaN   NaN   NaN
1    40  42  45  47  49  49.0   NaN   NaN
2    45  48  51  52  55  58.0  62.0   NaN
3    61  63  64  67  69  72.0  74.0  81.0
4    95  97  98  99  98  99.0   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  46  49  52  55  57  58.0  61.0  64.0
996  42  45  47  49  52   NaN   NaN   NaN
997  93  92  90  88  87  84.0  82.0  80.0
998  17  14  11   9   8   6.0   4.0   NaN
999  56  57  60  63  65  67.0  68.0  70.0

[1000 rows x 8 columns]

## Part 1

In [4]:
def is_safe(row):
    levels = row.dropna()
    diffs = levels.diff().dropna()
    condition1 = diffs.abs().between(1, 3).all()
    condition2 = (diffs > 0).all() or (diffs < 0).all()
    return condition1 and condition2

safe_reports = df.apply(is_safe, axis=1)

safe_count = safe_reports.sum()

print(f"Number of safe reports: {safe_count}")

Number of safe reports: 598

## Part 2

The engineers are surprised by the low number of safe reports until they realize they forgot to tell you about the Problem Dampener.

The Problem Dampener is a reactor-mounted module that lets the reactor safety systems tolerate a single bad level in what would otherwise be a safe report. It's like the bad level never happened!

Now, the same rules apply as before, except if removing a single level from an unsafe report would make it safe, the report instead counts as safe.

Update your analysis by handling situations where the Problem Dampener can remove a single level from unsafe reports. How many reports are now safe?

In [5]:
def safe_w_dampener(row):
    levels = row.dropna().tolist()
    if is_safe(pd.Series(levels)):
        return True
    for i in range(len(levels)):
        temp_levels = levels[:i] + levels[i+1:]
        if is_safe(pd.Series(temp_levels)):
            return True
    return False

oki_w_dampener = df.apply(safe_w_dampener, axis=1)

oki_count_w_dampener = oki_w_dampener.sum()

print(f"Number of okidoc reports with PD: {oki_count_w_dampener}")

Number of okidoc reports with PD: 634